@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}


.error-message {
    color: rgb(255, 0, 0);
    font-size: 0.8rem;
    margin-top: 2.5rem;
    position: absolute;
}

.logout{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: none;
    position: absolute;
    left: 24%;
    top: 13%;
    background-color: rgb(167, 149, 131);
    cursor: pointer;
    font-size: 30px;
    transition: all 0.2s ease-in-out;
    color: rgb(71, 65, 58);
    padding-bottom: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.perfil{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: none;
    position: absolute;
    left: 28%;
    top: 13%;
    background-color: rgb(167, 149, 131);
    cursor: pointer;
    font-size: 30px;
    transition: all 0.2s ease-in-out;
    color: rgb(71, 65, 58);
    padding-bottom: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.notificarIcon{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: none;
    position: absolute;
    left: 32%;
    top: 13%;
    background-color: rgb(167, 149, 131);
    cursor: pointer;
    font-size: 30px;
    transition: all 0.2s ease-in-out;
    color: rgb(71, 65, 58);
    padding-bottom: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.voltar{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: none;
    position: absolute;
    left: 32%;
    top: 13%;
    background-color: rgb(167, 149, 131);
    cursor: pointer;
    font-size: 30px;
    transition: all 0.2s ease-in-out;
    color: rgb(71, 65, 58);
    padding-bottom: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.BTNfechar{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: none;
    background-color: rgb(167, 131, 131);
    cursor: pointer;
    font-size: 23px;
    color: rgb(92, 89, 89);
}

.center{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.logout:hover, .notificarIcon:hover, .perfil:hover, .voltar:hover
    {
    background-color: rgb(136, 121, 105);
}

.NotificarTodosText{
    font-size: 14px;
    text-decoration: underline;
}

.tela {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(107, 97, 86);
}

.cadastroBox {
    width: 350px;
    height: 600px;
    display: flex;
    justify-content: center;
    background-color: rgb(230, 227, 227);
    border-radius: 20px;
    box-shadow: 8px 10px 14px 4px rgba(128, 0, 0, 0.37);
    padding-top: 20px;
    color: rgb(107, 97, 86);
    flex-direction: column;
    align-items: center;
}

.loginBox {
    width: 325px;
    height: 400px;
    display: flex;
    justify-content: center;
    background-color: rgb(230, 227, 227);
    border-radius: 20px;
    box-shadow: 8px 10px 14px 4px rgba(128, 0, 0, 0.37);
    padding-top: 20px;
    color: rgb(107, 97, 86);
    flex-direction: column;
    align-items: center;
}

.form-field {
    height: 40px;
    width: 70%;
    border-radius: 12px;
    border: none;
    margin-left: 5px;
    outline: none;
    padding: 12px;
}

.form-field-textarea {
    height: 80px;
    width: 70%;
    border-radius: 12px;
    border: none;
    margin-left: 5px;
    outline: none;
    padding: 12px;
}


.form-check {
    height: 20px;
    width: 20px;
    border-radius: 20px;
    border: none;
    margin-right: 5px;
    outline: none;
    cursor: pointer;   

}

.check-consent{
    display: flex;
    width: 70%;
    align-items: center;
    justify-items: center;
}

.terms-link{
    cursor: pointer;
}

.InputLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.formLogin {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.BTNLogar {
    width: 120px;
    height: 30px;
    border-radius: 12px;
    border: none;
    background-color: rgb(173, 156, 156);
    color: white;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.BTNLogar:hover {
    background-color: rgb(112, 104, 104);
}

a{
    color: rgb(59, 57, 55);
    text-decoration: none;
    
}


.tabelaBox{
    width: 1000px;
    height: 700px;
    background-color: rgb(230, 227, 227);
    display: flex;
    
    align-items: center;
    border-radius: 20px;
    box-shadow: 8px 10px 14px 4px rgba(128, 0, 0, 0.37);
    flex-direction: column;
}

h2{
    margin-bottom: 50px;
    margin-top: 50px;
    color: rgb(107, 97, 86);
}





/*------- TABELA -------*/

table {
    width: 700px;
    border: 1px solid black;
    border-collapse: collapse; 
   
}

thead {
    background-color: rgb(202, 196, 189);
    color: rgb(107, 97, 86);
}


tr {
    border: 1px solid black;
}

td, th {
    border: 1px solid black;
    text-align: center; 
    padding: 12px;
}


tr:hover  td{
   
    background-color: rgb(187, 182, 182);
}


.icone{
    color: rgb(75, 67, 60);
    margin-left: 7px;
    margin-right: 7px;
    cursor: pointer;
}

.termos{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    height: 80%;   
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 8px 10px 14px 4px rgba(128, 0, 0, 0.37);
}


.Termo{
    width: 80%;
    height: 80px;
    display: flex;
    flex-direction: column;
    margin-bottom:10px;
    border: 2px solid rgb(182, 167, 167);
    padding: 10px;
    border-radius: 15px;
    transition: 0.2s all ease-in-out;
  }

  .Termo:hover{
    transform: scale(1.05);
  }


  .BTNcancelar{
    width: 120px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: rgb(167, 131, 131);
    cursor: pointer;
    font-size: 23px;
    color: rgb(92, 89, 89);
}
.BTNaceitar{
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: rgb(96, 126, 49);
    cursor: pointer;
    font-size: 23px;
    color: rgb(255, 255, 255);
    margin-left: 20px;
}



/* CSS MODAL TERMOS*/

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 500px;
  }
  
  .close-button {
    margin-top: 20px;
  }
  

  .term-disc{
    margin-left: 20px;
  }

  .TermoBox{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom:10px;
    border: 2px solid rgb(182, 167, 167);
    padding: 10px;
    border-radius: 15px;
  }


  .TermoBox h3{
  text-decoration: underline;
  }

 
  .perfilBox {
    width: 350px;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(230, 227, 227);
    border-radius: 20px;
    box-shadow: 8px 10px 14px 4px rgba(128, 0, 0, 0.37);
    padding-top: 20px;
    color: rgb(107, 97, 86);
    flex-direction: column;
    align-items: center;
}

.icon{
    font-size: 50px;
}

.notificar{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.btnNotificar{
    height: 40px;
    width: 60%;
    border-radius: 12px;
    outline: none;
    padding: 12px;
    border: none;
    background-color: rgb(173, 156, 156);
    color: white;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}



.btnNotificar:hover{
    background-color: rgb(146, 125, 125);
}








